:root {
  --color-white: #fff;
  --color-dark:#10100e;
  --color-black:#000;
  --color-blue:#6a83fb;
  --border-radius-small:3px;
  --theme-default-header: #cccc46;
  --transition: .4s;
  --font-bold: 600px;
  --text-shadow:  0 0 2px var(--color-white), 0 0 48px var(--color-blue);
}

body {
  background-color:var(--color-dark);
}

.header__text { 
  line-height: 1.7;
  font-size: 26px;
  text-shadow: 0 0 2px #000;
  color:var(--theme-default-header);
  transition: color var(--transition);
}
